<div class="col-xl-4 col-lg-5">
  <div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div
      class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
    >
      <a href="/product/{{id}}"><h6 class="m-0 font-weight-bold text-primary">{{product_name}}</h6></a>
    </div>
    <!-- Card Body -->
    <a href="/product/{{id}}">
      <div class="h5 mb-0 font-weight-bold text-gray-800 text-center">
        <p>Quantity: {{quantity}}</p>
        {{!-- <p>Category: {{category_id}}</p> --}}
        {{!-- <img src="/images/{{filename}}" alt="{{description}}"> --}}
        </div>
      </a>
    </div>
  </div>
